body {
	background: #E6E6E5FF;
	padding: 0 1.0rem;
	font-family: Helvetica, sans-serif;
}

input:focus {
	outline: none;
}

.button {
	border-radius: 0.5rem;
	font-weight: 800;
	width: 200px;
}

#search {
	background: #FEFEFEFF;
	border: 0;
	width: 200px;
	font-size: 1rem;
	display: block;
	margin: 5px 0;
}

.note {
	background: #FFFF88;
	display: inline-block;
	height: 200px;
	width: 200px;
	border-radius: 5px;
	position: relative;
	margin: 10px;
	display: none; }
	.note .header {
		text-align: center;
		border: 0;
		width: 99%;
		font-size: 1.2rem;
		font-weight: bold;
		background-color: rgb(0,0,0,0.1); }
	.note textarea {
		font-size: 0.7rem;
		background: transparent;
		padding: 10px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 65%;
		/*border-color: transparent;*/
		resize: none; }
	.note span {
		vertical-align: middle;
	}

.options {
	width: 95%;
	text-align: center;
	margin: 0 5px;
	visibility: hidden;
}

.colorPicker {
	float: left;
	width: auto;
	font-size: 0.7rem;
	cursor: pointer; }
	.colorPicker:hover {
		background: rgb(0,0,0,0.2);
	}

.color {
	display: none;
}

.save {
	display: inline-block;
	margin: 0 auto;
	width: auto;
	cursor: pointer;
}

.delete {
	float: right;
	width: auto;
	font-size: 0.7rem;
	cursor: pointer; }
	.delete:hover {
		background: rgb(0,0,0,0.2);
	}

.animate-remove {
	height: 0px;
	transition: height 1s;
}

.animate-appear {
	height: 10%;
	transition: height 1s;
}

.selector {
	width: 95%;
	height: 10%;
	position: absolute;
	visibility: hidden;
	display: flex;
	display: -webkit-flex; /*Safari*/
}

.selector span {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	cursor: pointer;
}

.shrink {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	transition: 0.5s;
	opacity: 0.4;
}

.enlarge {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition: 0.5s;
}

.notify {
	font-size: 0.7rem;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: none;
	width: 33%;
}








